.work-scheme-section {
  width: 100vw;
  height: 200vh;
  flex-direction: row;
  justify-content: flex-start;
  display: flex;
}

.work-scheme-section-content-wrapper{
  justify-content: center;
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  width: 100%;
}